
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="page-article">
    <div class="container">
        <h1>GIỚI THIỆU</h1>
        <div class="content nd">
            <div class="r-body">
                <div style="language:en-US;line-height:90%;margin-top:3.84pt;margin-bottom:0pt;margin-left:0in;text-indent:0in;text-align:justify;text-justify:inter-ideograph;direction:ltr;unicode-bidi:embed;vertical-align:baseline;punctuation-wrap:hanging;"><span style="line-height:1.5em;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><span style="color:black;">Honda Ôtô</span> <span style="color:black;">Cộng Hòa – Đại</span> <span style="color:black;">lý</span> <span style="color:black;">chính</span> <span style="color:black;">thức</span> <span style="color:black;">của Honda Việt Nam chuyên</span> <span style="color:black;">phân</span> <span style="color:black;">phối&nbsp;</span><span style="text-indent: 0in;">các</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">sản</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">phẩm</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">ôtô</span><span style="text-indent: 0in;"> Honda </span><span style="text-indent: 0in;">chính</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">hiệu</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">trên<span style="text-indent: 0in;"> </span>toàn<span style="text-indent: 0in;"> </span>quốc.</span></span></span></span></div>

                <div style="language:en-US;line-height:90%;margin-top:3.84pt;margin-bottom:0pt;margin-left:0in;text-indent:0in;text-align:justify;text-justify:inter-ideograph;direction:ltr;unicode-bidi:embed;vertical-align:baseline;punctuation-wrap:hanging;">
                    <p style="text-align:center"><img alt="" height="265" src="http://hondaotoconghoa.com.vn/upload/images/1(2).jpg" width="400"></p>
                </div>

                <div style="language:en-US;line-height:90%;margin-top:3.84pt;margin-bottom:0pt;margin-left:0in;text-indent:0in;text-align:justify;text-justify:inter-ideograph;direction:ltr;unicode-bidi:embed;vertical-align:baseline;punctuation-wrap:hanging;">&nbsp;</div>

                <div style="language:en-US;line-height:90%;margin-top:3.84pt;margin-bottom:0pt;margin-left:0in;text-indent:0in;text-align:justify;text-justify:inter-ideograph;direction:ltr;unicode-bidi:embed;vertical-align:baseline;punctuation-wrap:hanging;">
                    <p style="language:en-US;margin-top:3.84pt;margin-bottom:0pt;text-align:left;direction:ltr;unicode-bidi:embed;vertical-align:baseline;punctuation-wrap:hanging;"><span style="line-height:1.5em;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><span style="language:en-US;font-weight:normal;"><span style="color:black;">Với</span></span> <span style="language:en-US;font-weight:normal;"><span style="color:black;">đội</span></span> <span style="language:en-US;font-weight:normal;"><span style="color:black;">ngũ</span></span><span style="language:en-US;font-weight:normal;"><span style="color:black;"> ban </span></span><span style="language:en-US;font-weight:normal;"><span style="color:black;">đầu</span></span> <span style="language:en-US;font-weight:normal;"><span style="color:black;">là</span></span><span style="language:en-US;font-weight:normal;"><span style="color:black;"> 60 </span></span><span style="language:en-US;font-weight:normal;"><span style="color:black;">nhân</span></span> <span style="language:en-US;font-weight:normal;"><span style="color:black;">viên</span></span> <span style="language:en-US;font-weight:normal;"><span style="color:black;">trong</span></span> <span style="language:en-US;font-weight:normal;"><span style="color:black;">năm</span></span><span style="language:en-US;font-weight:normal;"><span style="color:black;"> 2006, </span></span><span style="language:en-US;font-weight:normal;"><span style="color:black;">đến</span></span><span style="language:en-US;font-weight:normal;"><span style="color:black;"> nay Honda </span></span><span style="language:en-US;font-weight:normal;"><span style="color:black;">Ôtô</span></span> <span style="language:en-US;font-weight:normal;"><span style="color:black;">Cộng</span></span><span style="language:en-US;font-weight:normal;"><span style="color:black;"> Hòa&nbsp;</span></span><span style="text-indent: 0in;">đã</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">có</span><span style="text-indent: 0in;">&nbsp;g</span><span style="text-indent: 0in;">ần</span><span style="text-indent: 0in;">&nbsp;2</span><span style="text-indent: 0in;">00 nhân</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">viên</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">kinh</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">doanh</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">và</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">kỹ</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">thuật</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">được</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">đào</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">tạo</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">chuyên</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">nghiệp</span><span style="text-indent: 0in;">, </span><span style="text-indent: 0in;">nhiều</span><span style="text-indent: 0in;">kinh</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">nghiệm</span><span style="text-indent: 0in;">, </span><span style="text-indent: 0in;">luôn</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">sẵn</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">sàng</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">đáp</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">ứng</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">nhu</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">cầu</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">ngày</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">càng</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">cao</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">của</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">thị</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">trường</span><span style="text-indent: 0in;"> </span><span style="text-indent: 0in;">xe<span style="text-indent: 0in;"> </span>ôtô.</span></span></span></span></p>

                    <p style="text-align:center"><img alt="" height="267" src="http://hondaotoconghoa.com.vn/upload/images/HCH%20Staff%20SC1.jpg" width="400"></p>

                    <p style="text-align:center"><img alt="" height="267" src="http://hondaotoconghoa.com.vn/upload/images/HCH%20Staff%20Ser.jpg" width="400"></p>

                    <p style="language:en-US;margin-top:3.84pt;margin-bottom:0pt;text-align:left;direction:ltr;unicode-bidi:embed;vertical-align:baseline;punctuation-wrap:hanging;">&nbsp;</p>

                    <p style="language:en-US;margin-top:3.84pt;margin-bottom:0pt;text-align:left;direction:ltr;unicode-bidi:embed;vertical-align:baseline;punctuation-wrap:hanging;"><span style="line-height:1.5em;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">Honda Ôtô Cộng Hòa tự tin là đại lý luôn hoạt động theo tiêu chuẩn 5S của hãng Honda</span></span></span></p>

                    <p style="language:en-US;margin-top:3.84pt;margin-bottom:0pt;text-align:left;direction:ltr;unicode-bidi:embed;vertical-align:baseline;punctuation-wrap:hanging;">&nbsp;</p>

                    <p><span style="line-height:1.5em;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><strong><em>Sales:&nbsp;</em></strong><em style="text-indent: 0in;">Lấy khách hàng làm trung tâm cho công việc bán hàng, lợi ích mà khách hàng có được chính là niềm vui của chúng tôi.</em></span></span></span></p>

                    <p style="text-align:center"><img alt="" height="300" src="http://hondaotoconghoa.com.vn/upload/images/2%20(2).jpg" width="400"></p>

                    <p>&nbsp;</p>

                    <p><span style="line-height:1.5em;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><strong><em>Service:&nbsp;</em></strong><em style="text-indent: 0in;">Dịch vụ sửa chữa luôn không ngừng phát triển nhằm mang đến cho khách hàng những dịch vụ tuyệt vời và chất lượng nhất.</em></span></span></span></p>

                    <p style="text-align:center"><img alt="" height="300" src="http://hondaotoconghoa.com.vn/upload/images/3%20(2).jpg" width="400"></p>

                    <p>&nbsp;</p>

                    <p><span style="line-height:1.5em;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><strong><em>Safe Drive:&nbsp;</em></strong><em style="text-indent: 0in;">Các buổi lái xe an toàn được tổ chức hằng năm với mục tiêu nâng cao kiến thức và kỹ năng lái xe cho khách hàng.</em></span></span></span></p>

                    <p style="text-align:center"><img alt="" height="266" src="http://hondaotoconghoa.com.vn/upload/images/4%204.jpg" width="400"></p>

                    <p>&nbsp;</p>

                    <p><span style="line-height:1.5em;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><strong><em>Social Contributions:&nbsp;</em></strong><em style="text-indent: 0in;">Không chỉ chú trọng vào việc kinh doanh, Honda Ô tô Cộng Hòa còn chú trọng hơn vào trách nhiệm xã hội.</em></span></span></span></p>

                    <p style="text-align:center"><img alt="" height="266" src="http://hondaotoconghoa.com.vn/upload/images/5%20(2).jpg" width="400"></p>

                    <p>&nbsp;</p>

                    <p><span style="line-height:1.5em;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><strong><em>Spare Parts:&nbsp;</em></strong><em style="text-indent: 0in;">Chuyên cung cấp các phụ tùng chính hãng của Honda, giúp khách hàng có nhiều lựa chọn hơn trong việc tạo ra sự khác biệt trong cách trang trí cho chiếc xe của mình.</em></span></span></span></p>

                    <p style="text-align:center"><img alt="" height="300" src="http://hondaotoconghoa.com.vn/upload/images/6%20(2).jpg" width="400"></p>

                    <p>&nbsp;</p>

                    <p><span style="line-height:1.5em;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">Với đội ngũ nhân viên lành nghề và dày dạn kinh nghiệm Honda Ô tô Cộng Hòa mang đến những dòng xe đa năng, hiện đại cùng dịch vụ sửa chữa chuyên nghiệp và nhanh chóng luôn đem lại sự thoải mái nhất cho khách hàng khi đến với chúng tôi.</span></span></span></p>

                    <p><span style="line-height:1.5em;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">Thế mạnh làm nên thương hiệu Honda Ô tô Cộng Hòa khác biệt chính là: Sự chuyên môn hóa trong từng bộ phận, tinh thần trách nhiệm cao trong mỗi nhân viên và sự chuyên nghiệp trong từng hành động nhằm tạo ra những giá trị cao nhất và hoàn hảo nhất để cung cấp cho khách hàng. Ngoài ra, Honda còn tổ chức nhiều cuộc thi giữa các nhân viên hằng năm nhằm nâng cao kỹ năng chuyên môn, phát triển những năng lực tiềm tàng ở mỗi nhân viên nhằm tạo nên một Honda đầy sự đổi mới và sáng tạo ở từng bước đi của mình trong thị trường xe ô tô.</span></span></span></p>

                    <p style="text-align:center"><img alt="" height="276" src="http://hondaotoconghoa.com.vn/upload/images/1(3).jpg" width="400"></p>

                    <p style="text-align:center"><img alt="" height="300" src="http://hondaotoconghoa.com.vn/upload/images/8%20(2).jpg" width="400"></p>

                    <p style="text-align:center"><img alt="" height="204" src="http://hondaotoconghoa.com.vn/upload/images/Hoi%20Thao%202013%20HCH%201_jpg2.jpg" width="400"></p>

                    <p style="text-align:center"><img alt="" height="266" src="http://hondaotoconghoa.com.vn/upload/images/DSC_01231.JPG" width="400"></p>

                    <p>&nbsp;</p>

                    <p><span style="line-height:1.5em;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">Với phương châm “Tôn trọng con người” và nền tảng “niềm vui” làm kim chỉ cho sự phát triển, Honda luôn hướng đến những giá trị tốt đẹp và thuần túy nhất trong hoạt động kinh doanh.&nbsp;</span></span></span></p>

                    <p><span style="line-height:1.5em;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><strong>Niềm vui Mua hàng</strong></span></span></span></p>

                    <p><span style="line-height:1.5em;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">Đạt được thông qua việc cung cấp những sản phẩm, dịch vụ đáp ứng vượt mong đợi và nhu cầu của khách hàng.</span></span></span></p>

                    <p><span style="line-height:1.5em;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><strong>Niềm vui Bán hàng</strong></span></span></span></p>

                    <p><span style="line-height:1.5em;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">Đạt được khi mà những nhân viên cung cấp sản phẩm, dịch vụ của Honda luôn xây dựng và phát triển mối quan hệ với khách hàng dựa trên sự tin tưởng.</span></span></span></p>

                    <p><span style="line-height:1.5em;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><strong>Niềm vui Sáng tạo</strong></span></span></span></p>

                    <p><span style="line-height:1.5em;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">Đạt được khi mà các nhân viên và đại lý Honda tham gia vào quá trình sản xuất ra sản phẩm thấy được niềm vui của khách hàng có được do nổ lực của mình.</span></span></span></p>

                    <p style="text-align:center"><img alt="" height="300" src="http://hondaotoconghoa.com.vn/upload/images/10(1).jpg" width="400"></p>

                    <p style="text-align:center"><img alt="" height="300" src="http://hondaotoconghoa.com.vn/upload/images/77873b3c77718e2fd760.jpg" width="400"></p>

                    <p><span style="line-height:1.5em;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">Sự tin tưởng của khách hàng, sự hài lòng của khách hàng và niềm vui của khách hàng khi trải nghiệm các dịch vụ tại Honda Ôtô Cộng Hòa chính là niềm động lực lớn lao, nguồn động viên to lớn trên bước đường phát triển của chúng tôi. Chúng tôi xin hứa sẽ không ngừng hoàn thiện bản thân, phục vụ khách hàng tốt nhất để luôn xứng đáng với niềm tin ấy.</span></span></span></p>
                </div>
            </div>
        </div>
    </div>
</section>
