
@{
    ViewBag.Title = "Liên Hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section id="page-contact">
        <div class="vp">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1282141325414!2d106.65385251526043!3d10.80149086168307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529fdc8924077%3A0xb7901075a66457e0!2zw5R0w7QgSG9uZGEgQ-G7mW5nIEjDsmE!5e0!3m2!1svi!2s!4v1587387601667!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            <div class="contact-info">
                <a href="gioi-thieu.html"><h1>Honda Ôtô Cộng Hòa</h1></a>
                <p class="des">Đại Lý 5S Chính Thức của Honda Ôtô Việt Nam</p>
                <ul class="info">
                    <li>18A Cộng Hòa, Phường 4, Quận Tân Bình, TP.HCM</li>
                    <li>Hotline <b style=" display: inline-block; color: #e11428; ">0901.238.018</b></li>
                    <li>nhmnmh1996@gmail.com</li>
                </ul>
                <a class="view" href="@Url.Action("About","Home")">Xem chi tiết >></a>
            </div>
        </div>			<div class="clr"></div>
    </section>

    