
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="page-blog">
    <div class="container">
        <h1>Tin Tức</h1>
        <div class="row blogs">
            <div class="col col-4 blog">
                <a href="honda-civic-rs-2020-phong-cach-the-thao-tao-su-buc-pha-va-khac-biet.html">
                    <div class="vp"><img src="~/Content/images/bai-viet/honda_civic_rs.jpg" alt="Honda Civic RS 2020: Phong cách thể thao tạo sự bức phá và khác biệt!"></div>
                    <h3>Honda Civic RS 2020: Phong cách thể thao tạo sự bức phá và khác biệt!</h3>
                </a>
            </div>
            <div class="col col-4 blog">
                <a href="honda-oto-sai-gon-quan-7-dang-dan-tro-thanh-dai-ly-5s-hang-dau-tai-ho-chi-minh.html">
                    <div class="vp"><img src="~/Content/images/bai-viet/hondasaigonquan7_4.jpg" alt="Honda Ôtô Sài Gòn Quận 7 đang dần trở thành đại lý 5S hàng đầu tại Hồ Chí Minh"></div>
                    <h3>Honda Ôtô Sài Gòn Quận 7 đang dần trở thành đại lý 5S hàng đầu tại Hồ Chí Minh</h3>
                </a>
            </div>
            <div class="col col-4 blog">
                <a href="tin-tuc-toyota-camry-va-honda-accord-the-he-moi-deu-sap-ve-viet-nam-meo-nao-can-miu-nao.html">
                    <div class="vp"><img src="~/Content/images/xehay_toyota_camry_honda_accord_.jpg" alt="Toyota Camry và Honda Accord thế hệ mới đều sắp về Việt Nam: Mèo nào cắn mỉu nào ?"></div>
                    <h3>Toyota Camry và Honda Accord thế hệ mới đều sắp về Việt Nam: Mèo nào cắn mỉu nào ?</h3>
                </a>
            </div>
            <div class="col col-4 blog">
                <a href="honda-br-v-2019-se-som-co-mat-tai-viet-nam.html">
                    <div class="vp"><img src="~/Content/images/bai-viet/tin-tuc/xehay_Honda_BRV_Thailand_290318_.jpg" alt="Honda BR-V 2019 sẽ sớm có mặt tại Việt Nam"></div>
                    <h3>Honda BR-V 2019 sẽ sớm có mặt tại Việt Nam</h3>
                </a>
            </div>
        </div>
    </div>			<div class="clr"></div>
</section>
