
@{
    ViewBag.Title = "ProductItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="page-product">
    <div class="bigimg">
        <img src="~/Content/images/xe/big/crv.jpg" alt="Xe Honda CR-V">
        <h1>Xe Honda CR-V<i>Uy lực vượt mọi giới hạn</i></h1>
    </div>
    <div class="clr"></div>
    <ul class="options ">
        <li class="mfl"><h3>Xe Honda CR-V E</h3><p>983,000,000VNĐ</p></li>
        <li class="mfl"><h3>Xe Honda CR-V G</h3><p>1,023,000,000VNĐ</p></li>
        <li class="mfl"><h3>Xe Honda CR-V L</h3><p>1,093,000,000VNĐ</p></li>
        <!--<li class="mfr"><h3>Hỗ trợ mua trả góp</h3><p><b>LÃI SUẤT THẤP, GIẢI NGÂN NHANH</b></p></li>
        <li class="mfr"><h3>Khuyến mãi hấp dẫn</h3><p><b>TẶNG PHỤ KIỆN, BẢO HIỂM XE</b></p></li>-->
    </ul>
    <div class="clr"></div>
    <div class="container" style=" max-width: 1000px; ">


        <div class="main-content" itemscope itemtype="http://schema.org/Product">
            <article itemprop="description">
                <h1 align="center"><span style="font-size:28px;"><span style="font-family:trebuchet ms,helvetica,sans-serif;"><big><strong>Honda CR-V</strong><strong>&nbsp;</strong><span style="color:#FF0000;"><strong><em>2019</em></strong></span></big></span></span></h1>

                <p><span style="color:#FF0000;"><span style="font-size:16px;"><strong>I. ƯU Đ&Atilde;I ĐẶT BIỆT CHỈ C&Oacute; TẠI HONDA &Ocirc;T&Ocirc; S&Agrave;I G&Ograve;N - QUẬN 7</strong></span></span></p>

                <h1><span style="font-size:14px;"><strong>Th&aacute;ng 11&nbsp;n&agrave;y c&oacute; g&igrave; HOT tại HONDA &Ocirc;T&Ocirc; S&Agrave;I G&Ograve;N - QUẬN 7</strong></span></h1>

                <ul style="margin-left: 40px;">
                    <li><span style="font-size:14px;"><span style="color:#FF0000;"><strong>GIẢM GI&Aacute;</strong></span> <strong>trực tiếp v&agrave;o gi&aacute; xe</strong></span></li>
                    <li><span style="font-size:14px;"><strong>N&acirc;ng cấp</strong> <span style="color:#FF0000;"><strong>PHỤ KIỆN&nbsp;T&Ugrave;Y CHỌN</strong></span><strong>:&nbsp;</strong><strong>Phim c&aacute;ch nhiệt Mỹ, Camera h&agrave;nh tr&igrave;nh, Phủ gầm chống rỉ s&eacute;t chống ồn, Phủ Ceramic l&agrave;m b&oacute;ng v&agrave; bảo vệ m&agrave;u sơn, Thiết bị định vị, Bộ gập gương v&agrave; l&ecirc;n k&iacute;nh tự động, nẹp bước ch&acirc;n, Viền che mưa, Bao tay l&aacute;i, C&aacute;nh lướt gi&oacute; thể thao&hellip;</strong></span></li>
                    <li><span style="font-size:14px;"><strong>Đặt bi&ecirc;t&nbsp;<span style="color:#FF0000;">tặng th&ecirc;m</span></strong><span style="color:#FF0000;">&nbsp;10<strong>&nbsp;triệu đồng</strong></span>&nbsp;<strong>khi chiếc xe của bạn đăng k&yacute; chạy Grab</strong></span></li>
                </ul>

                <p><span style="color:#FF0000;"><span style="font-size:16px;"><strong>II. HỖ TRỢ MUA TRẢ G&Oacute;P C&Oacute; LỢI NHẤT CHO QU&Yacute; KH&Aacute;CH</strong></span></span></p>

                <p><span style="font-size:14px;"><strong><em>CHỈ CẦN <span style="color:#FF0000;">TRẢ TRƯỚC 260 TRIỆU</span>, TRẢ </em></strong><strong><em>G&Oacute;P <span style="color:#FF0000;">H&Agrave;NG TH&Aacute;NG 13&nbsp;TRIỆU</span></em></strong></span></p>

                <ul style="margin-left: 40px;">
                    <li><span style="font-size:14px;"><strong>L&atilde;i suất thấp, <span style="color:#000000;">Chỉ</span></strong><span style="color:#000000;"> </span><span style="color:#FF0000;"><strong>0,65%/th&aacute;ng</strong></span></span></li>
                    <li><span style="font-size:14px;"><strong>Thời gian vay từ</strong> <span style="color:#FF0000;"><strong>3 - 8 năm</strong></span></span></li>
                    <li><span style="font-size:14px;"><strong>Cho vay l&ecirc;n đến </strong><span style="color:#FF0000;"><strong>85% gi&aacute; xe</strong></span></span></li>
                    <li><span style="font-size:14px;"><strong>Duyệt hồ sơ trong ng&agrave;y, cam kết th&ocirc;ng b&aacute;o cho vay</strong></span></li>
                    <li><span style="font-size:14px;"><strong>Thủ tục đơn giản:</strong> <strong>Chứng minh nh&acirc;n d&acirc;n, sổ hộ khẩu, giấy đăng k&yacute; kết h&ocirc;n (nếu đ&atilde; lập gia đ&igrave;nh), đối với c&ocirc;ng ty cần giấy ph&eacute;p đăng k&yacute; kinh doanh</strong></span></li>
                    <li><span style="font-size:14px;"><strong>Kh&ocirc;ng cần chứng minh thu nhập</strong></span></li>
                    <li><span style="font-size:14px;"><strong>Hỗ trợ kh&aacute;ch h&agrave;ng bị nợ xấu</strong></span></li>
                </ul>

                <p><span style="font-size:16px;"><span style="color:#FF0000;"><strong>III. L&Yacute; DO N&Ecirc;N MUA XE TẠI&nbsp;HONDA &Ocirc;T&Ocirc; S&Agrave;I G&Ograve;N - QUẬN 7</strong></span></span></p>

                <p><span style="font-size:14px;"><strong>C&oacute; 200 kh&aacute;ch h&agrave;ng mua xe mỗi th&aacute;ng tại HONDA &Ocirc;T&Ocirc; S&Agrave;I G&Ograve;N - QUẬN 7. V&igrave;:</strong></span></p>

                <ul style="margin-left: 40px;">
                    <li><span style="font-size:14px;"><strong>Cơ sở vật chất hiện đại, quy m&ocirc; nhất TP. HCM</strong></span></li>
                    <li><span style="font-size:14px;"><strong>C&oacute; xe giao ngay, đủ m&agrave;u sắc, đủ phi&ecirc;n bản cho kh&aacute;ch h&agrave;ng lựa chọn</strong></span></li>
                    <li><span style="font-size:14px;"><strong>Cam kết gi&aacute; tốt nhất khu vực miền nam</strong></span></li>
                    <li><span style="font-size:14px;"><strong>Tư vấn chọn xe đ&uacute;ng nhu cầu, phục vụ tận nh&agrave; kh&aacute;ch h&agrave;ng</strong></span></li>
                    <li><span style="font-size:14px;"><strong>Hỗ trợ c&aacute;c thủ tục đăng k&yacute; kinh doanh dịch vụ</strong></span></li>
                </ul>

                <p><span style="font-size:14px;"><em><strong>Li&ecirc;n hệ</strong>&nbsp;<strong>Hotline Honda &Ocirc;t&ocirc; S&agrave;i G&ograve;n &ndash; Quận 7 ngay: </strong></em></span><span style="font-size:24px;"><em><strong><span style="color:#FF0000;">0906.709.193</span></strong></em></span></p>

                <hr />
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <h1><span style="font-size:28px;"><span style="font-family:trebuchet ms,helvetica,sans-serif;"><big>Honda CR-V&nbsp;</big></span></span>NGOẠI THẤT CR-V&nbsp;XỨNG TẦM KH&Iacute; CHẤT DẪN ĐẦU</h1>

                                <p>Với đường n&eacute;t thiết kế mạnh mẽ đầy uy lực m&agrave; sang trọng v&agrave; đầy tinh tế,&nbsp;<strong>Honda CR-V</strong>&nbsp;mang đến sức hấp dẫn kh&oacute; cưỡng cho chủ nh&acirc;n.</p>
                            </td>
                            <td><img alt="NỘI_THẤT_CR_V_RỘNG_RÃI_honda_CRV_quận_7" src="~/Content/images/xe/honda-cvr/N%c3%a1%c2%bb%c2%98I_TH%c3%a1%c2%ba%c2%a4T_CR_V_R%c3%a1%c2%bb%c2%98NG_R%c3%83%c2%83I_honda_C.html" style="width: 1000px; height: 479px;" /></td>
                        </tr>
                    </tbody>
                </table>

                <table>
                    <tbody>
                        <tr>
                            <td>
                                <img alt="Cụm_đèn_trước_Full_LED_honda_quận_7" src="~/Content/images/xe/honda-cvr/C%c3%a1%c2%bb%c2%a5m_%c3%84%c2%91%c3%83%c2%a8n_tr%c3%86%c2%b0%c3%a1%c2%bb%c2%9bc_Full_LED_honda_q.html" style="width: 320px; height: 159px;" /><br />
                                Cụm đ&egrave;n trước Full LED thiết kế sắc sảo, l&agrave; điểm nhấn cho diện mạo hiện đại m&agrave; đầy uy lực (L/G).
                            </td>
                            <td>
                                <img alt="Cụm_đèn_hậu_LED_honda_quận_7" src="~/Content/images/xe/honda-cvr/C%c3%a1%c2%bb%c2%a5m_%c3%84%c2%91%c3%83%c2%a8n_h%c3%a1%c2%ba%c2%adu_LED_honda_qu%c3%a1%c2%ba%c2%adn_7.html" style="width: 320px; height: 159px;" /><br />
                                Cụm đ&egrave;n hậu LED với những đường n&eacute;t tinh xảo đầy ki&ecirc;u h&atilde;nh.
                            </td>
                            <td>
                                <img alt="Cản_trước_nổi_bật_honda_quận_7" src="~/Content/images/xe/honda-cvr/C%c3%a1%c2%ba%c2%a3n_tr%c3%86%c2%b0%c3%a1%c2%bb%c2%9bc_n%c3%a1%c2%bb%c2%95i_b%c3%a1%c2%ba%c2%adt_honda_qu%c3%a1%c2%ba%c2%adn_7.html" style="width: 320px; height: 159px;" /><br />
                                Cản trước nổi bật với đ&egrave;n sương m&ugrave; dạng LED tinh tế (L).
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img alt="ương_chiếu_hậu_gập_điện_honda_quận_7" src="~/Content/images/xe/honda-cvr/G%c3%86%c2%b0%c3%86%c2%a1ng_chi%c3%a1%c2%ba%c2%bfu_h%c3%a1%c2%ba%c2%adu_g%c3%a1%c2%ba%c2%adp_%c3%84%c2%91i%c3%a1%c2%bb%c2%87n_honda.html" style="width: 320px; height: 159px;" /><br />
                                Gương chiếu hậu gập điện t&iacute;ch hợp đ&egrave;n b&aacute;o rẽ LED.
                            </td>
                            <td>
                                <img alt="La_zăng_thiết_kế_phá_cách_honda_quận_7" src="~/Content/images/xe/honda-cvr/La_z%c3%84%c2%83ng_thi%c3%a1%c2%ba%c2%bft_k%c3%a1%c2%ba%c2%bf_ph%c3%83%c2%a1_c%c3%83%c2%a1ch_hond.html" style="width: 320px; height: 159px;" /><br />
                                La-zăng thiết kế ph&aacute; c&aacute;ch t&ocirc;n l&ecirc;n sự vững ch&atilde;i cho chiếc xe.
                            </td>
                            <td>
                                <img alt="Các_thanh_nẹp_mạ_crôm_trên_cản_honda_quận_7" src="~/Content/images/xe/honda-cvr/C%c3%83%c2%a1c_thanh_n%c3%a1%c2%ba%c2%b9p_m%c3%a1%c2%ba%c2%a1_cr%c3%83%c2%b4m_tr%c3%83%c2%aan_c%c3%a1%c2%ba%c2%a3n_t.html" style="width: 320px; height: 159px;" /><br />
                                C&aacute;c thanh nẹp mạ cr&ocirc;m tr&ecirc;n cản trước, sau v&agrave; th&acirc;n xe tăng th&ecirc;m n&eacute;t hiện đại v&agrave; cao cấp của CR-V.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img alt="Ống_xả_kép_tăng_chất_thể_thao_honda_CRV_quận_7" src="~/Content/images/xe/honda-cvr/%c3%a1%c2%bb%c2%90ng_x%c3%a1%c2%ba%c2%a3_k%c3%83%c2%a9p_t%c3%84%c2%83ng_ch%c3%a1%c2%ba%c2%a5t_th%c3%a1%c2%bb%c2%83_thao_.html" style="width: 320px; height: 159px;" /><br />
                                Ống xả k&eacute;p tăng chất thể thao cho chiếc xe.
                            </td>
                            <td>
                                <img alt="Tay_nắm_cửa_phía_trước_honda_quận_7" src="~/Content/images/xe/honda-cvr/Tay_n%c3%a1%c2%ba%c2%afm_c%c3%a1%c2%bb%c2%ada_ph%c3%83%c2%ada_tr%c3%86%c2%b0%c3%a1%c2%bb%c2%9bc_honda_qu.html" style="width: 320px; height: 158px;" /><br />
                                Tay nắm cửa ph&iacute;a trước đ&oacute;ng mở bằng cảm biến tiện lợi.
                            </td>
                            <td>
                                <img alt="Ăng_ten_vây_cá_mập_honda_CRV_quận_7" src="~/Content/images/xe/honda-cvr/%c3%84%c2%82ng_ten_v%c3%83%c2%a2y_c%c3%83%c2%a1_m%c3%a1%c2%ba%c2%adp_honda_CRV_q.html" style="width: 320px; height: 158px;" /><br />
                                Ăng-ten v&acirc;y c&aacute; mập tạo điểm nhấn c&aacute; t&iacute;nh.
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h1>C&Aacute;C PHI&Ecirc;N BẢN&nbsp;M&Agrave;U&nbsp;<span style="font-size:28px;"><span style="font-family:trebuchet ms,helvetica,sans-serif;"><big>Honda CR-V</big></span></span></h1>

                <table>
                    <tbody>
                        <tr>
                            <td><img alt="black_honda_CRV_quận_7" src="~/Content/images/xe/honda-cvr/black_honda_CRV_qu%c3%a1%c2%ba%c2%adn_7.html" style="width: 890px; height: 332px;" /></td>
                            <td><img alt="green_honda_CRV_quận_7" src="~/Content/images/xe/honda-cvr/green_honda_CRV_qu%c3%a1%c2%ba%c2%adn_7.html" style="width: 890px; height: 332px;" /></td>
                            <td><img alt="grey_honda_CRV_quận_7" src="~/Content/images/xe/honda-cvr/grey_honda_CRV_qu%c3%a1%c2%ba%c2%adn_7.html" style="width: 890px; height: 332px;" /></td>
                        </tr>
                        <tr>
                            <td><img alt="red_honda_CRV_quận_7" src="~/Content/images/xe/honda-cvr/red_honda_CRV_qu%c3%a1%c2%ba%c2%adn_7.html" style="width: 890px; height: 332px;" /></td>
                            <td><img alt="white_honda_CRV_quận_7" src="~/Content/images/xe/honda-cvr/white_honda_CRV_qu%c3%a1%c2%ba%c2%adn_7.html" style="width: 890px; height: 332px;" /></td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>

                <table>
                    <tbody>
                        <tr>
                            <td><img alt="NỘI_THẤT_CR_V_RỘNG_RÃI_honda_CRV" src="~/Content/images/xe/honda-cvr/N%c3%a1%c2%bb%c2%98I_TH%c3%a1%c2%ba%c2%a4T_CR_V_R%c3%a1%c2%bb%c2%98NG_R%c3%83%c2%83I_honda_C.html" style="width: 1000px; height: 479px;" /></td>
                            <td>
                                <h1>NỘI THẤT CR-V RỘNG R&Atilde;I, PH&Aacute; VỠ GIỚI HẠN</h1>

                                <p>K&iacute;ch thước được mở rộng c&ugrave;ng thiết kế 7 chỗ mới cho bạn v&agrave; người th&acirc;n tận hưởng mọi h&agrave;nh tr&igrave;nh theo c&aacute;ch thoải m&aacute;i v&agrave; linh hoạt nhất</p>

                                <p>Kh&ocirc;ng gian&nbsp;<strong>nội thất CR-V</strong>&nbsp;mới được trau chuốt với những đường n&eacute;t thiết kế tinh tế c&ugrave;ng chất liệu cao cấp v&agrave; trang bị t&iacute;nh năng c&ocirc;ng nghệ hiện đại. Mỗi ph&uacute;t gi&acirc;y trong khoang l&aacute;i của bạn trở n&ecirc;n m&atilde;n nh&atilde;n v&agrave; th&uacute; vị hơn bao giờ hết.</p>

                                <p>Việc đ&oacute;ng mở cốp trở n&ecirc;n dễ d&agrave;ng v&agrave; tiện lợi hơn bao giờ hết với t&iacute;nh năng điều chỉnh điện v&agrave; c&oacute; thể thay đổi độ cao đ&oacute;ng mở (L).</p>

                                <p>Cửa sổ trời to&agrave;n cảnh đ&oacute;n những tia nắng v&agrave; l&agrave;n gi&oacute; để bạn đồng h&agrave;nh c&ugrave;ng thi&ecirc;n nhi&ecirc;n tươi đẹp (L).</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table>
                    <tbody>
                        <tr>
                            <td>
                                <img alt="Không_gian_bệ_trung_tâm_honda_CRV" src="~/Content/images/xe/honda-cvr/Kh%c3%83%c2%b4ng_gian_b%c3%a1%c2%bb%c2%87_trung_t%c3%83%c2%a2m_honda_.html" style="width: 320px; height: 159px;" /><br />
                                Kh&ocirc;ng gian bệ trung t&acirc;m được thiết kế th&ocirc;ng minh đ&aacute;p ứng nhu cầu chứa đồ tiện dụng.
                            </td>
                            <td>
                                <img alt="Nội thất Honda CR-V" src="~/Content/images/xe/honda-cvr/ch%c3%a1%c2%bb%c2%a9a_%c3%84%c2%91%c3%a1%c2%bb%c2%93_ti%c3%a1%c2%bb%c2%87n_d%c3%a1%c2%bb%c2%a5ng_honda_Crv_qu.html" style="width: 320px; height: 159px;" /><br />
                                Kh&ocirc;ng gian bệ trung t&acirc;m được thiết kế th&ocirc;ng minh đ&aacute;p ứng nhu cầu chứa đồ tiện dụng.
                            </td>
                            <td>
                                <img alt="thiết_kế_thông_minh_honda_CRV" src="~/Content/images/xe/honda-cvr/thi%c3%a1%c2%ba%c2%bft_k%c3%a1%c2%ba%c2%bf_th%c3%83%c2%b4ng_minh_honda_CRV_.html" style="width: 320px; height: 159px;" /><br />
                                Kh&ocirc;ng gian bệ trung t&acirc;m được thiết kế th&ocirc;ng minh đ&aacute;p ứng nhu cầu chứa đồ tiện dụng.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img alt="Đèn_đọc_bản_đồ_tiện_ích_honda" src="~/Content/images/xe/honda-cvr/%c3%84%c2%90%c3%83%c2%a8n_%c3%84%c2%91%c3%a1%c2%bb%c2%8dc_b%c3%a1%c2%ba%c2%a3n_%c3%84%c2%91%c3%a1%c2%bb%c2%93_ti%c3%a1%c2%bb%c2%87n_%c3%83%c2%adch_honda_.html" style="width: 320px; height: 159px;" /><br />
                                Đ&egrave;n đọc bản đồ tiện &iacute;ch.
                            </td>
                            <td>
                                <img alt="Hộc_đựng_kính_râm_thuận_tiện_honda_CRV" src="~/Content/images/xe/honda-cvr/H%c3%a1%c2%bb%c2%99c_%c3%84%c2%91%c3%a1%c2%bb%c2%b1ng_k%c3%83%c2%adnh_r%c3%83%c2%a2m_thu%c3%a1%c2%ba%c2%adn_ti%c3%a1%c2%bb%c2%87n_h.html" style="width: 320px; height: 159px;" /><br />
                                Hộc đựng k&iacute;nh r&acirc;m thuận tiện.
                            </td>
                            <td>
                                <img alt="Cổng_kết_nối_HDMI_USB_ổ_sạc_HondaCR-V" src="~/Content/images/xe/honda-cvr/C%c3%a1%c2%bb%c2%95ng_k%c3%a1%c2%ba%c2%bft_n%c3%a1%c2%bb%c2%91i_HDMI_USB_%c3%a1%c2%bb%c2%95_s%c3%a1%c2%ba%c2%a1c_%c3%84%c2%91i.html" style="width: 320px; height: 159px;" /><br />
                                Cổng kết nối HDMI, USB, ổ sạc điện (L/G).
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img alt="Cửa_gió_điều_hoà_Honda CR-V" src="~/Content/images/xe/honda-cvr/C%c3%a1%c2%bb%c2%ada_gi%c3%83%c2%b3_%c3%84%c2%91i%c3%a1%c2%bb%c2%81u_ho%c3%83%c2%a0_honda_CRV_qu%c3%a1%c2%ba%c2%ad.html" style="width: 320px; height: 159px;" /><br />
                                Cửa gi&oacute; điều ho&agrave; h&agrave;ng ghế thứ 2 kết hợp c&ugrave;ng cổng sạc pin tiện dụng (L/G).
                            </td>
                            <td>
                                <img alt="Cửa_gió_điều_hòa_3_Honda CR-V" src="~/Content/images/xe/honda-cvr/C%c3%a1%c2%bb%c2%ada_gi%c3%83%c2%b3_%c3%84%c2%91i%c3%a1%c2%bb%c2%81u_h%c3%83%c2%b2a_3_honda_CRV_q.html" style="width: 320px; height: 159px;" /><br />
                                Cửa gi&oacute; điều h&ograve;a d&agrave;nh cho h&agrave;ng ghế thứ 3.
                            </td>
                            <td>
                                <img alt="Màn_hình_cảm_ứng_7_inch_honda_CRV" src="~/Content/images/xe/honda-cvr/M%c3%83%c2%a0n_h%c3%83%c2%acnh_c%c3%a1%c2%ba%c2%a3m_%c3%a1%c2%bb%c2%a9ng_7_inch_honda_CR.html" style="width: 320px; height: 159px;" /><br />
                                M&agrave;n h&igrave;nh cảm ứng 7-inch độ ph&acirc;n giải cao v&agrave; g&oacute;c nh&igrave;n rộng, mang lại h&igrave;nh ảnh sắc n&eacute;t c&ugrave;ng thao t&aacute;c cảm ứng mượt m&agrave;.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img alt="Hệ_thống_hỗ_trợ_đồng_bộ_hondaCR-V" src="~/Content/images/xe/honda-cvr/H%c3%a1%c2%bb%c2%87_th%c3%a1%c2%bb%c2%91ng_h%c3%a1%c2%bb%c2%97_tr%c3%a1%c2%bb%c2%a3_%c3%84%c2%91%c3%a1%c2%bb%c2%93ng_b%c3%a1%c2%bb%c2%99_honda_.html" style="width: 320px; height: 159px;" /><br />
                                Hệ thống hỗ trợ đồng bộ với Smartphone sử dụng hệ điều h&agrave;nh iOS v&agrave; Android th&ocirc;ng qua kết nối USB, gi&uacute;p bạn tương t&aacute;c hiệu quả v&agrave; tận hưởng h&agrave;nh tr&igrave;nh th&uacute; vị (L/G).
                            </td>
                            <td>
                                <img alt="/Vô_lăng_tích_hợp_honda_CRV" src="~/Content/images/xe/honda-cvr/V%c3%83%c2%b4_l%c3%84%c2%83ng_t%c3%83%c2%adch_h%c3%a1%c2%bb%c2%a3p_honda_CRV_qu%c3%a1%c2%ba%c2%adn_.html" style="width: 320px; height: 159px;" /><br />
                                V&ocirc; lăng t&iacute;ch hợp n&uacute;t điều chỉnh đa th&ocirc;ng tin, &acirc;m thanh, đ&agrave;m thoại rảnh tay v&agrave; ra lệnh bằng giọng n&oacute;i (L/G).
                            </td>
                            <td>
                                <img alt="Khi_đồng_bộ_với_Smartphone_hondaCR-V" src="~/Content/images/xe/honda-cvr/Khi_%c3%84%c2%91%c3%a1%c2%bb%c2%93ng_b%c3%a1%c2%bb%c2%99_v%c3%a1%c2%bb%c2%9bi_Smartphone_honda.html" style="width: 320px; height: 159px;" /><br />
                                Khi đồng bộ với Smartphone, bạn c&oacute; thể ra lệnh bằng giọng n&oacute;i để CR-V trợ gi&uacute;p việc gọi điện, nhắn tin, dẫn đường hay bật những b&agrave;i h&aacute;t y&ecirc;u th&iacute;ch (L/G).
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img alt="Hệ_thống_điều_hòa_tự_động_HondaCR-V" src="~/Content/images/xe/honda-cvr/H%c3%a1%c2%bb%c2%87_th%c3%a1%c2%bb%c2%91ng_%c3%84%c2%91i%c3%a1%c2%bb%c2%81u_h%c3%83%c2%b2a_t%c3%a1%c2%bb%c2%b1_%c3%84%c2%91%c3%a1%c2%bb%c2%99ng_honda_.html" style="width: 320px; height: 159px;" /><br />
                                Hệ thống điều h&ograve;a tự động được điều chỉnh bằng cảm ứng (L/G).
                            </td>
                            <td>
                                <img alt="Truy_cập_Website_honda_CRV" src="~/Content/images/xe/honda-cvr/Truy_c%c3%a1%c2%ba%c2%adp_Website_honda_CRV_qu%c3%a1%c2%ba%c2%adn_.html" style="width: 320px; height: 159px;" /><br />
                                Truy cập Website qua kết nối wifi (L/G).
                            </td>
                            <td>
                                <img alt="Ứng_dụng_bản_đồ_HondaCR-V" src="~/Content/images/xe/honda-cvr/%c3%a1%c2%bb%c2%a8ng_d%c3%a1%c2%bb%c2%a5ng_b%c3%a1%c2%ba%c2%a3n_%c3%84%c2%91%c3%a1%c2%bb%c2%93_v%c3%83%c2%a0_d%c3%a1%c2%ba%c2%abn_%c3%84%c2%91%c3%86%c2%b0%c3%a1%c2%bb%c2%9dng_hon.html" style="width: 320px; height: 159px;" /><br />
                                Ứng dụng bản đồ v&agrave; dẫn đường (L/G).
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h1>VẬN H&Agrave;NH MẠNH MẼ TR&Ecirc;N H&Agrave;NH TR&Igrave;NH BẤT TẬN -&nbsp;<span style="font-size:28px;"><span style="font-family:trebuchet ms,helvetica,sans-serif;"><big>Honda CR-V</big></span></span></h1>

                <p>Đầy mạnh mẽ, th&uacute; vị m&agrave; hiệu quả đến ngạc nhi&ecirc;n,&nbsp;<strong>CR-V</strong>&nbsp;l&agrave; người bạn đồng h&agrave;nh ho&agrave;n hảo tr&ecirc;n mọi địa h&igrave;nh.</p>

                <table>
                    <tbody>
                        <tr>
                            <td>
                                <img alt="Khả năng vận hành của Honda CR-V" src="~/Content/images/xe/honda-cvr/H%c3%a1%c2%bb%c2%99p_s%c3%a1%c2%bb%c2%91_v%c3%83%c2%b4_c%c3%a1%c2%ba%c2%a5p_ti%c3%83%c2%aan_ti%c3%a1%c2%ba%c2%bfn_honda_.html" style="width: 238px; height: 118px;" /><br />
                                Hộp số v&ocirc; cấp ti&ecirc;n tiến ứng dụng c&ocirc;ng nghệ EARTH DREAMS TECHNOLOGY n&acirc;ng cao khả năng vận h&agrave;nh v&agrave; hiệu quả sử dụng nhi&ecirc;n liệu ở mức cao nhất, tham gia v&agrave;o nỗ lực bảo vệ m&ocirc;i trường cũng như thể hiện kh&aacute;t khao của Honda mang lại niềm vui cầm l&aacute;i cho kh&aacute;ch h&agrave;ng.
                            </td>
                            <td>
                                <img alt="Khả năng vận hành của Honda CR-V" src="~/Content/images/xe/honda-cvr/H%c3%a1%c2%bb%c2%87_th%c3%a1%c2%bb%c2%91ng_khung_g%c3%a1%c2%ba%c2%a7m_honda_CRV_q.html" style="width: 238px; height: 118px;" /><br />
                                Hệ thống khung gầm v&agrave; hệ thống treo thiết kế mới với độ cứng vững cao, gi&uacute;p xe vận h&agrave;nh ổn định v&agrave; chắc chắn.
                            </td>
                            <td>
                                <img alt="Khả năng vận hành của Honda CR-V" src="~/Content/images/xe/honda-cvr/Tr%c3%a1%c2%bb%c2%a3_l%c3%a1%c2%bb%c2%b1c_l%c3%83%c2%a1i_%c3%84%c2%91i%c3%a1%c2%bb%c2%87n_honda_CRV_qu%c3%a1%c2%ba%c2%ad.html" style="width: 237px; height: 118px;" /><br />
                                Trợ lực l&aacute;i điện th&iacute;ch ứng nhanh với chuyển động mang lại phản hồi nhạy v&agrave; ch&iacute;nh x&aacute;c.
                            </td>
                            <td>
                                <img alt="Khả năng vận hành của Honda CR-V" src="~/Content/images/xe/honda-cvr/L%c3%a1%c2%ba%c2%aby_chuy%c3%a1%c2%bb%c2%83n_s%c3%a1%c2%bb%c2%91_honda_CRV_qu%c3%a1%c2%ba%c2%adn_7.html" style="width: 237px; height: 117px;" /><br />
                                Lẫy chuyển số tay thể thao cho trải nghiệm l&aacute;i đầy phấn kh&iacute;ch (L/G).
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img alt="Khả năng vận hành của Honda CR-V" src="~/Content/images/xe/honda-cvr/Ch%c3%a1%c2%ba%c2%bf_%c3%84%c2%91%c3%a1%c2%bb%c2%99_kh%c3%a1%c2%bb%c2%9fi_h%c3%83%c2%a0nh_honda_CRV_qu%c3%a1%c2%ba%c2%ad.html" style="width: 238px; height: 118px;" /><br />
                                Chế độ khởi h&agrave;nh bằng n&uacute;t bấm.
                            </td>
                            <td>
                                <img alt="Khả năng vận hành của Honda CR-V" src="~/Content/images/xe/honda-cvr/Ch%c3%a1%c2%ba%c2%bf_%c3%84%c2%91%c3%a1%c2%bb%c2%99_ga_honda_CRV_qu%c3%a1%c2%ba%c2%adn_7.html" style="width: 238px; height: 118px;" /><br />
                                Chế độ ga tự động gi&uacute;p xe lướt &ecirc;m v&agrave; đều.
                            </td>
                            <td>
                                <img alt="Khả năng vận hành của Honda CR-V" src="~/Content/images/xe/honda-cvr/Ch%c3%a1%c2%ba%c2%bf_%c3%84%c2%91%c3%a1%c2%bb%c2%99_l%c3%83%c2%a1i_ti%c3%a1%c2%ba%c2%bft_ki%c3%a1%c2%bb%c2%87m_honda_CRV.html" style="width: 237px; height: 118px;" /><br />
                                Chế độ l&aacute;i tiết kiệm nhi&ecirc;n liệu ECON Mode điều chỉnh hệ thống l&agrave;m việc của động cơ, hộp số v&agrave; điều ho&agrave; kh&ocirc;ng kh&iacute; để giảm thiểu ti&ecirc;u hao nhi&ecirc;n liệu kh&ocirc;ng cần thiết.
                            </td>
                            <td>
                                <img alt="Khả năng vận hành của Honda CR-V" src="~/Content/images/xe/honda-cvr/Ch%c3%a1%c2%bb%c2%a9c_n%c3%84%c2%83ng_h%c3%86%c2%b0%c3%a1%c2%bb%c2%9bng_d%c3%a1%c2%ba%c2%abn_honda_CRV_.html" style="width: 237px; height: 118px;" /><br />
                                Chức năng hướng dẫn l&aacute;i xe tiết kiệm nhi&ecirc;n liệu ECO Coaching gi&uacute;p người l&aacute;i thực hiện những thao t&aacute;c tối ưu v&agrave; x&acirc;y dựng &yacute; thức l&aacute;i tiết kiệm nhi&ecirc;n liệu.
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table>
                    <tbody>
                        <tr>
                            <td>
                                <h1>HONDA CR-V AN TO&Agrave;N TỐI ĐA</h1>

                                <p>Với c&aacute;c c&ocirc;ng nghệ an to&agrave;n chủ động v&agrave; bị động ti&ecirc;n tiến,&nbsp;<strong>Honda CR-V</strong>&nbsp;đảm bảo sự thư th&aacute;i của bạn tr&ecirc;n mọi thử th&aacute;ch.&nbsp;Xếp hạng 5 sao cao nhất về mức độ an to&agrave;n của tổ chức đ&aacute;nh gi&aacute; xe mới Đ&ocirc;ng Nam &Aacute;.</p>
                            </td>
                            <td><img alt="An toàn của Honda CR-V" src="~/Content/images/xe/honda-cvr/HONDA_CR_V_AN_TO%c3%83%c2%80N_T%c3%a1%c2%bb%c2%90I_%c3%84%c2%90A_hond.html" style="width: 991px; height: 420px;" /></td>
                        </tr>
                    </tbody>
                </table>

                <table>
                    <tbody>
                        <tr>
                            <td>
                                <img alt="An toàn của Honda CR-V" src="~/Content/images/xe/honda-cvr/Ch%c3%a1%c2%ba%c2%bf_%c3%84%c2%91%c3%a1%c2%bb%c2%99_c%c3%a1%c2%ba%c2%a3nh_b%c3%83%c2%a1o_ch%c3%a1%c2%bb%c2%91ng_bu%c3%a1%c2%bb%c2%93n_ng%c3%a1%c2%bb%c2%a7_.html" /><br />
                                Chế độ cảnh b&aacute;o chống buồn ngủ (Driver Attention Monitor)
                            </td>
                            <td>
                                <img alt="An toàn của Honda CR-V" src="~/Content/images/xe/honda-cvr/Ch%c3%a1%c2%ba%c2%bf_%c3%84%c2%91%c3%a1%c2%bb%c2%99_c%c3%a1%c2%ba%c2%a3nh_b%c3%83%c2%a1o_honda_CRV_qu%c3%a1%c2%ba%c2%adn.html" style="width: 570px; height: 250px;" /><br />
                                Chế độ cảnh b&aacute;o chống buồn ngủ (Driver Attention Monitor)
                            </td>
                            <td>
                                <img alt="An toàn của Honda CR-V" src="~/Content/images/xe/honda-cvr/Phanh_tay_%c3%84%c2%91i%c3%a1%c2%bb%c2%87n_t%c3%a1%c2%bb%c2%ad_honda_CRV_qu.html" style="width: 320px; height: 159px;" /><br />
                                Phanh tay điện tử gi&uacute;p việc đỗ xe hay dừng xe tr&ecirc;n đường dốc trở n&ecirc;n dễ d&agrave;ng chỉ với thao t&aacute;c đơn giản tr&ecirc;n n&uacute;t bấm (P).
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img alt="An toàn của Honda CR-V" src="~/Content/images/xe/honda-cvr/Ch%c3%a1%c2%ba%c2%bf_%c3%84%c2%91%c3%a1%c2%bb%c2%99_gi%c3%a1%c2%bb%c2%af_phanh_t%c3%a1%c2%ba%c2%a1m_th%c3%a1%c2%bb%c2%9di_hond.html" style="width: 320px; height: 159px;" /><br />
                                Chế độ giữ phanh tạm thời: Hệ thống sẽ tự động h&atilde;m phanh khi xe dừng tại c&aacute;c điểm dừng đ&egrave;n giao th&ocirc;ng hoặc tắc đường, gi&uacute;p bạn nh&agrave;n nh&atilde; hơn v&igrave; kh&ocirc;ng phải giữ ch&acirc;n phanh trong khoảng thời gian d&agrave;i.
                            </td>
                            <td>
                                <img alt="An toàn của Honda CR-V" src="~/Content/images/xe/honda-cvr/H%c3%a1%c2%bb%c2%87_th%c3%a1%c2%bb%c2%91ng_c%c3%83%c2%a2n_b%c3%a1%c2%ba%c2%b1ng_honda_CRV_qu.html" style="width: 320px; height: 159px;" /><br />
                                Hệ thống c&acirc;n bằng điện tử VSA kiểm so&aacute;t những thay đổi đột ngột, giữ cho xe lu&ocirc;n trong tầm kiểm so&aacute;t của người l&aacute;i.
                            </td>
                            <td>
                                <img alt="An toàn của Honda CR-V" src="~/Content/images/xe/honda-cvr/H%c3%a1%c2%bb%c2%87_th%c3%a1%c2%bb%c2%91ng_h%c3%a1%c2%bb%c2%97_tr%c3%a1%c2%bb%c2%a3_%c3%84%c2%91%c3%83%c2%a1nh_l%c3%83%c2%a1i_honda_C.html" style="width: 320px; height: 159px;" /><br />
                                Hệ thống hỗ trợ đ&aacute;nh l&aacute;i chủ động AHA kiểm so&aacute;t lực phanh tr&ecirc;n từng b&aacute;nh xe tương ứng với gia tốc v&agrave; mức đ&aacute;nh l&aacute;i, hỗ trợ người l&aacute;i b&aacute;m cua ch&iacute;nh x&aacute;c v&agrave; tự tin.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img alt="An toàn của Honda CR-V" src="~/Content/images/xe/honda-cvr/Camera_l%c3%83%c2%b9i_3_g%c3%83%c2%b3c_honda_CRV_qu%c3%a1%c2%ba%c2%adn_.html" style="width: 320px; height: 158px;" /><br />
                                Camera l&ugrave;i 3 g&oacute;c quay gi&uacute;p người l&aacute;i dễ d&agrave;ng quan s&aacute;t hơn trong c&aacute;c t&igrave;nh huống l&ugrave;i v&agrave; dừng/đỗ xe.
                            </td>
                            <td>
                                <img alt="An toàn của Honda CR-V" src="~/Content/images/xe/honda-cvr/d%c3%a1%c2%bb%c2%85_d%c3%83%c2%a0ng_quan_s%c3%83%c2%a1t_honda_qu%c3%a1%c2%ba%c2%adn_7.html" style="width: 320px; height: 158px;" /><br />
                                Camera l&ugrave;i 3 g&oacute;c quay gi&uacute;p người l&aacute;i dễ d&agrave;ng quan s&aacute;t hơn trong c&aacute;c t&igrave;nh huống l&ugrave;i v&agrave; dừng/đỗ xe.
                            </td>
                            <td>
                                <img alt="An toàn của Honda CR-V" src="~/Content/images/xe/honda-cvr/t%c3%83%c2%acnh_hu%c3%a1%c2%bb%c2%91ng_l%c3%83%c2%b9i_honda_CRV_qu%c3%a1%c2%ba%c2%adn_7.html" style="width: 320px; height: 158px;" /><br />
                                Camera l&ugrave;i 3 g&oacute;c quay gi&uacute;p người l&aacute;i dễ d&agrave;ng quan s&aacute;t hơn trong c&aacute;c t&igrave;nh huống l&ugrave;i v&agrave; dừng/đỗ xe.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img alt="An toàn của Honda CR-V" src="~/Content/images/xe/honda-cvr/C%c3%a1%c2%ba%c2%a3m_bi%c3%a1%c2%ba%c2%bfn_l%c3%83%c2%b9i_c%c3%a1%c2%ba%c2%a3nh_b%c3%83%c2%a1o_b%c3%a1%c2%ba%c2%b1ng_%c3%83%c2%a2m_th.html" style="width: 320px; height: 158px;" /><br />
                                Cảm biến l&ugrave;i cảnh b&aacute;o bằng &acirc;m thanh v&agrave; h&igrave;nh ảnh (L).
                            </td>
                            <td>
                                <img alt="An toàn của Honda CR-V" src="~/Content/images/xe/honda-cvr/Ch%c3%a1%c2%ba%c2%bf_%c3%84%c2%91%c3%a1%c2%bb%c2%99_kh%c3%a1%c2%bb%c2%9fi_h%c3%83%c2%a0nh_ngang_d%c3%a1%c2%bb%c2%91c_HSA_h.html" style="width: 320px; height: 158px;" /><br />
                                Chế độ khởi h&agrave;nh ngang dốc HSA gi&uacute;p người l&aacute;i an t&acirc;m v&agrave; tự tin hơn tr&ecirc;n những cung đường dốc.
                            </td>
                            <td>
                                <img alt="An toàn của Honda CR-V" src="~/Content/images/xe/honda-cvr/C%c3%a1%c2%ba%c2%a3m_bi%c3%a1%c2%ba%c2%bfn_g%c3%a1%c2%ba%c2%a1t_m%c3%86%c2%b0a_honda_CRV_qu%c3%a1%c2%ba%c2%adn_.html" style="width: 320px; height: 159px;" /><br />
                                Cảm biến gạt mưa tự động k&iacute;ch hoạt khi trời mưa v&agrave; điều chỉnh mức gạt ph&ugrave; hợp, mang đến tầm nh&igrave;n tối đa cho người l&aacute;i (L).
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img alt="An toàn của Honda CR-V" src="~/Content/images/xe/honda-cvr/%c3%84%c2%90%c3%83%c2%a8n_b%c3%83%c2%a1o_phanh_honda_CRV_qu%c3%a1%c2%ba%c2%adn_7.html" style="width: 320px; height: 159px;" /><br />
                                Đ&egrave;n b&aacute;o phanh khẩn cấp tự động k&iacute;ch hoạt khi xe dừng đột ngột, hạn chế va chạm với c&aacute;c xe ph&iacute;a sau.
                            </td>
                            <td>
                                <img alt="An toàn của Honda CR-V" src="~/Content/images/xe/honda-cvr/Ch%c3%a1%c2%bb%c2%a9c_n%c3%84%c2%83ng_kho%c3%83%c2%a1_c%c3%a1%c2%bb%c2%ada_t%c3%a1%c2%bb%c2%b1_%c3%84%c2%91%c3%a1%c2%bb%c2%99ng_honda.html" style="width: 320px; height: 159px;" /><br />
                                Chức năng kho&aacute; cửa tự động thực hiện khi bạn rời khỏi xe v&agrave; mang theo ch&igrave;a kho&aacute; ra khỏi v&ugrave;ng cảm biến (L/G).
                            </td>
                            <td>
                                <img alt="An toàn của Honda CR-V" src="~/Content/images/xe/honda-cvr/Khung_xe_s%c3%a1%c2%bb%c2%ad_d%c3%a1%c2%bb%c2%a5ng_th%c3%83%c2%a9p_honda_CRV_.html" style="width: 320px; height: 159px;" /><br />
                                Khung xe sử dụng th&eacute;p c&oacute; độ cứng cao v&agrave; kỹ thuật tương th&iacute;ch hiện đại ACE gi&uacute;p hấp thụ lực t&aacute;c động của va chạm, giảm thiểu nguy cơ chấn thương.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </article>
            <h2>Thông số kỹ thuật</h2>
            <div class="specs" itemprop="description">
                <p><img alt="thong-so-ky-thuat_honda_crv_2018" src="~/Content/images/xe/honda-cvr/thong-so-ky-thuat/1.jpg" style="width: 818px; height: 532px;" /><img alt="honda-cvr_thong-so-ky-thuat" src="~/Content/images/xe/honda-cvr/thong-so-ky-thuat/2.jpg" style="width: 814px; height: 378px;" /><img alt="honda-cvr_thong-so-ky-thuat" src="~/Content/images/xe/honda-cvr/thong-so-ky-thuat/3.jpg" style="width: 820px; height: 486px;" /><img alt="honda-cvr_thong-so-ky-thuat" src="~/Content/images/xe/honda-cvr/thong-so-ky-thuat/4.jpg" style="width: 819px; height: 493px;" /><img alt="honda-cvr_thong-so-ky-thuat" src="~/Content/images/xe/honda-cvr/thong-so-ky-thuat/5.jpg" style="width: 822px; height: 484px;" /><img alt="honda-cvr_thong-so-ky-thuat" src="~/Content/images/xe/honda-cvr/thong-so-ky-thuat/6.jpg" style="height: 568px; width: 819px;" /><img alt="honda-cvr_thong-so-ky-thuat" src="~/Content/images/xe/honda-cvr/thong-so-ky-thuat/7.jpg" style="width: 819px; height: 568px;" /><img alt="honda-cvr_thong-so-ky-thuat" src="~/Content/images/xe/honda-cvr/thong-so-ky-thuat/8.jpg" style="width: 817px; height: 405px;" /></p>
            </div>
            <h2>Giá bán hiện nay</h2>
            <div class="price">
                <div class="thumb"><img itemprop="image" src="~/Content/images/xe/thumb/1675_honda_crv.png" alt="Xe Honda CR-V"></div>
                <div class="models">
                    <ul itemprop="offers" itemscope itemtype="http://schema.org/AggregateOffer">
                        <li><h3>CR-V E</h3><p itemprop="lowPrice" content="983000000">983,000,000VNĐ</p></li>
                        <li><h3>CR-V G</h3><p content="1023000000">1,023,000,000VNĐ</p></li>
                        <li><h3>CR-V L</h3><p itemprop="highPrice" content="1093000000">1,093,000,000VNĐ</p></li>
                        <meta itemprop="priceCurrency" content="VND" />
                    </ul>
                </div>
            </div>
            <div class="clr"></div>
        </div>


        <div class="clr"></div>
        <h3 class="articles">Thông tin mới</h3>
        <div class="clr"></div>
        <div class="row news">
            <div class="col col-4">
                <a href="honda-civic-rs-2020-phong-cach-the-thao-tao-su-buc-pha-va-khac-biet.html">
                    <img src="~/Content/images/bai-viet/honda_civic_rs.jpg" alt="Honda Civic RS 2020: Phong cách thể thao tạo sự bức phá và khác biệt!">
                    <h3>Honda Civic RS 2020: Phong cách thể thao tạo sự bức phá và khác biệt!</h3>
                </a>
            </div>
            <div class="col col-4">
                <a href="honda-oto-sai-gon-quan-7-dang-dan-tro-thanh-dai-ly-5s-hang-dau-tai-ho-chi-minh.html">
                    <img src="~/Content/images/bai-viet/hondasaigonquan7_4.jpg" alt="Honda Ôtô Sài Gòn Quận 7 đang dần trở thành đại lý 5S hàng đầu tại Hồ Chí Minh">
                    <h3>Honda Ôtô Sài Gòn Quận 7 đang dần trở thành đại lý 5S hàng đầu tại Hồ Chí Minh</h3>
                </a>
            </div>
            <div class="col col-4">
                <a href="tin-tuc-toyota-camry-va-honda-accord-the-he-moi-deu-sap-ve-viet-nam-meo-nao-can-miu-nao.html">
                    <img src="~/Content/images/xehay_toyota_camry_honda_accord_.jpg" alt="Toyota Camry và Honda Accord thế hệ mới đều sắp về Việt Nam: Mèo nào cắn mỉu nào ?">
                    <h3>Toyota Camry và Honda Accord thế hệ mới đều sắp về Việt Nam: Mèo nào cắn mỉu nào ?</h3>
                </a>
            </div>
            <div class="col col-4">
                <a href="honda-br-v-2019-se-som-co-mat-tai-viet-nam.html">
                    <img src="~/Content/images/bai-viet/tin-tuc/xehay_Honda_BRV_Thailand_290318_.jpg" alt="Honda BR-V 2019 sẽ sớm có mặt tại Việt Nam">
                    <h3>Honda BR-V 2019 sẽ sớm có mặt tại Việt Nam</h3>
                </a>
            </div>
            <div class="col col-4">
                <a href="cam-nhan-honda-jazz-xe-nhap-nho-gon-cho-phu-nu-honda-quan-7.html">
                    <img src="~/Content/images/bai-viet/tin-tuc/cam_nhan_honda_jazz_xe_nhap_nho_.jpg" alt="Cảm nhận Honda Jazz: Xe nhập nhỏ gọn cho phụ nữ - Honda Quận 7">
                    <h3>Cảm nhận Honda Jazz: Xe nhập nhỏ gọn cho phụ nữ - Honda Quận 7</h3>
                </a>
            </div>
            <div class="col col-4">
                <a href="honda-viet-nam-cong-bo-ket-qua-kinh-doanh-thang-8-2018-honda-quan-7.html">
                    <img src="~/Content/images/bai-viet/honda_civic_rs.jpg" alt="Honda Việt Nam công bố Kết quả kinh doanh tháng 8/2018 - Honda Quận 7">
                    <h3>Honda Việt Nam công bố Kết quả kinh doanh tháng 8/2018 - Honda Quận 7</h3>
                </a>
            </div>
        </div>
    </div>
    <div class="clr"></div><div class="clr"></div>
</section>
