
@{
    ViewBag.Title = "Promotion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="page-blog">
    <div class="container">
        <h1>Chương trình khuyến mãi tại Honda Ô tô Cộng Hòa</h1>
        <div class="row blogs">
        </div>
    </div>
    <div class="clr"></div>
</section>

