<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h1 style=" color: #AC193D; font-family: sans-serif; font-weight: normal; text-align: center; margin: 50px 0; font-size: 27px; ">
        Rất tiếc, trang bạn tìm kiếm không tồn tại! Bấm vào <a href="/">đây</a> để quay lại trang chủ.
    </h1>
</body>
</html>
